.plans {
    padding: 5.6vw;

    h2 {
        text-align: center;
    }

    &__list {
        display: flex;
        justify-content: space-around;

        @media (max-width: 1144px) {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        &__item {
            text-align: center;
            padding: 60px 44px 44px;
            max-width: 380px;
            width: 100%;
            

            &:nth-child(2) {
                background-image: url(../images/fundo_combo_plus.png);
                background-repeat: no-repeat;
                background-size: contain;
            }

            img {
                height: 83px;

                @media (max-width: 768px) {
                    height: 12vw;
                    min-height: 12px;


                }
            }
        
            strong {
                display: block;
                
        }
        }
    }

    p {
        text-align: center;
    }
}