@use 'variaveis';

.shows {
    padding: 2vw 5.6vw;

    &__tabs {
        display: flex;
        justify-content: center;

        &__button {
            color: #f9f9f9;
            font-size: 20px;
            border: none;
            padding-bottom: 5px;
            background: none;
            text-transform: uppercase;
            margin: 0 1vw;
            cursor: pointer;

            &--is-active {
                border-bottom: 5px solid #f9f9f9;
            }
        }
    }

    &__list {
        margin-top: 60px;
        display: none;
        justify-content: center;
        width: 90%;

        &--is-active {
            display: flex;
            flex-wrap: wrap;
            
        }
        
        &__item {
            img {
                margin: 40px;
                max-width: 400px;
                border-radius: 4px;

            }
        }
    }

    
}