@use 'variaveis';

.shows {
    min-height: 50vw;

    &__tabs {
        display: flex;
        justify-content: center;

        &__button {
            color: variaveis.$corTextoSecundario;
            font-size: 20px;
            border: none;
            padding-bottom: 5px;
            background: none;
            text-transform: uppercase;
            margin: 0 1vw;
            cursor: pointer;

            &--is-active {
                border-bottom: 5px solid variaveis.$corTextoSecundario;
            }
        }
    }

    &__list {
        margin-top: 60px;
        display: none;
        grid-template-columns: 1fr 1fr 1fr;
        text-align: center;

        @media (max-width: 1594px) {
            grid-template-columns: 1fr 1fr;
            
        }

        @media (max-width: 1023px) {
            grid-template-columns: 1fr;
        }

        &--is-active {
            display: grid
            
        }
        
        &__item {
            img {
                margin: 40px;
                max-width: 400px;
                border-radius: 4px;

                    @media (max-width: 768px) {
                        width: 80vw;
                    }

            }
        }
    }

    
}