@use 'hero';
@use 'variaveis';
@use 'shows';
@use 'plans';

@font-face {
    font-family: Avenir;
    src: url(../../src/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../src/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: variaveis.$cordeFundo;
    font-family: Avenir, sans-serif;
}

@mixin text ($fontSize: 16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title ($fontSize: 40px) {
    @include text($fontSize );
    color: variaveis.$corTextoSecundario;

}

.text--big {
    @include text(18px);
}

.text {
    @include text;
}

.text--small {
    @include text(12px);
    color: variaveis.$corTextoSecundario;
}

.title--small {
    @include title(30px);
}

.title--big {
    @include text(38px);
    color: variaveis.$corTextoSecundario;
}

.link-text {
    @include text(18px);
    text-decoration: underline;
    color: variaveis.$corTextoSecundario;
}

.button {
    display: block;
    width: 100%;
    height: 60px;
    font-size: 16px;
    color: variaveis.$corTextoSecundario;
    background-color: #6421ff;
    border-radius: 4px;
    margin-top: 2vw;
    margin-bottom: 8px;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #4719b4;
        transition: .5s;
        cursor: pointer;
    }
}