@use 'hero';
@use 'variaveis';
@use 'shows';
@use 'plans';
@use 'available-devices';
@use 'faq';
@use 'footer';
@use 'header';

@font-face {
    font-family: Avenir;
    src: url(../../src/fonts/Avenir-Regular.woff2);
    font-weight: 400;
}

@font-face {
    font-family: Avenir;
    src: url(../../src/fonts/Avenir-Bold.woff2);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: variaveis.$cordeFundo;
    font-family: Avenir, sans-serif;
}

@mixin text ($fontSize: 16px){
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title ($fontSize: 40px) {
    @include text($fontSize );
    color: variaveis.$corTextoSecundario;

}

.text--big {
    @include text(18px);
}

.text {
    @include text;
}

.title {
    @include title;
}

.text--small {
    @include text(12px);
    color: variaveis.$corTextoSecundario;
}


.title--small {
    @include title(30px);
}

.title--big {
    @include text(38px);
    color: variaveis.$corTextoSecundario;
}

.link-text {
    @include text(18px);
    text-decoration: underline;
    color: variaveis.$corTextoSecundario;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 60px;
    font-size: 16px;
    color: variaveis.$corTextoSecundario;
    background-color: variaveis.$corDeFundoBotaoPrimario;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none;
    padding: 8px 14px;
    letter-spacing: 1px;
    border: 1px solid variaveis.$corDeFundoBotaoPrimario;
    text-transform: uppercase;

    &:hover {
        background-color: lighten(variaveis.$corDeFundoBotaoPrimario, 3%);
        transition: .5s;
        cursor: pointer;
    }

    &--secondary {
        background-color: variaveis.$corDeFundoBotaoSecundario;
        border-color: variaveis.$corDeFundoBotaoSecundario;

        &:hover {
            background-color: lighten(variaveis.$corDeFundoBotaoSecundario, 3%);
            transition: .5s;
            cursor: pointer;
        }
    }

    &--dark {
        background-color: rgba(variaveis.$cordeFundoBotaoDark, 0.8);
        border-color: variaveis.$corTextoSecundario;

            &:hover {
            background-color: variaveis.$corTextoSecundario;
            color: variaveis.$cordeFundoBotaoDark;
            transition: .5s;
            cursor: pointer;
    }
}
}
.image-text-section {
    padding: 5.6vw;
    display: grid;
    grid-template-columns: 1fr 1fr ;
    align-items: center;

        @media (max-width: 768px) {
        display: block;
        text-align: center;
    }
    
    .img__cellphone {
        display: none;

        @media (max-width: 768px) {
            display: block;
        }
    }

    img {
        max-width: 100%;
    }

    &__text_cointainer {
        padding: 0 2vw;

        @media (max-width: 768px) {
            margin-top: 50px;
        }

        h2 {
            margin-bottom: 24px;
        }
    }

    &--image-full-width {
        display: block;
        position: relative;

        @media (max-width: 768px) {
            position: static;
            
        }

        img {
            width: 100%;

            @media (max-width: 768px) {
                display: none;
            }
        }

        &__text_cointainer {
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            width: calc(50% - 5.6vw);
            display: flex;
            flex-direction: column;
            justify-content: center;

            @media (max-width: 768px) {
                position: static;
                width: 100%;
                text-align: center;
            }
        }
    }

}


